<nav class="bg-black p-4 text-white text-center fs-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
      <button [routerLink]="'/'" class="text-warning p-2">
         Home
        </button>
      </div>
        <div class="col-md-4">
      <button [routerLink]="'/office'" class="text-warning p-2" *ngIf="loggedIn">
         Office
        </button>
      </div>
        <div class="col-md-4" *ngIf="!loggedIn">
      <button [routerLink]="'/login'" class="text-warning p-2">
        Login/Signup
      </button>
      </div>
        <div class="col-md-4" *ngIf="loggedIn">
      <button (click)="logout()" class="text-warning p-2">
        Logout
      </button>
      </div>
    </div>
  </div>
</nav>
