<div class="container text-center">
  <div class="row">
    <div class="col-md-12 p-3">
      <h1>Remember what Talk is made for :
        share, improve, love.
      </h1>
    </div>
    <div class="col-md-6 p-2" >
      <div class="bg-black rounded text-warning fs-6 p-3" style="min-height: 140px;">
      <h2 class="text-warning">This is your office.</h2>
      <p>We are not called to do something, but if we do, we do it as our best.</p>
      </div>
    </div>
    <div class="col-md-6 p-2">
      <div class="bg-black rounded text-warning fs-6 p-3">
        <h2 class="text-warning">Some of the thing you can do here:</h2>
      <ul class="w-75 m-auto">
        <li>Write talk</li>
        <li>Read talk requests</li>
        <li>Control the visits</li>
      </ul>
      </div>
    </div>
  </div>
</div>
